
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>
<h3>Kendi Oluşturduğumuz Sayfadır.</h3>
<table>
    <tr>
        <th>ID</th>
        <th>AD</th>
        <th>DEPARTMAN</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Özgür Nuri VURAL</td>
        <td>YAZILIM</td>
    </tr>

    <tr>
        <td>2 </td>
        <td>Gökçe Çelik </td>
        <td>Analist</td>

    </tr>

</table>
